<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atlantis.Framework.Engine" version="14.1.16.1" targetFramework="net45" />
  <package id="Atlantis.Framework.Interface" version="14.1.16.1" targetFramework="net45" />
  <package id="Atlantis.Framework.MiniEncrypt" version="4.13.12.21" targetFramework="net45" />
  <package id="Atlantis.Framework.Nimitz" version="14.2.21.1" targetFramework="net45" />
  <package id="Automation.Framework.Data" version="15.5.14.1" targetFramework="net45" />
  <package id="Automation.Framework.Enums" version="15.4.2.1" targetFramework="net45" />
  <package id="Automation.Framework.Pricing" version="15.1.13.1" targetFramework="net45" />
  <package id="Automation.Framework.ProductTiers" version="15.3.26.2" targetFramework="net45" />
  <package id="Automation.Framework.Shopper" version="14.8.8.1" targetFramework="net45" />
  <package id="Automation.Framework.TestSetUpAndSettings" version="15.5.13.1" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.45.0" targetFramework="net45" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net45" />
</packages>